#headerlogo {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    font-family: "Franklin Gothic";
    background-color: black;
}

div, h1, h2 {
    text-align: center;
    color: white;
}

button {
    margin-top: 20px;
    font-size: 18px;
}

li {
    list-style-type: none;
    padding: 0;
}


